<div class="wrapper" id="myHeader">
<h1 class="logo">Lg-o</h1>
    <ul class="nav header-nav justify-content-end" style="margin-top: -4%;">
  <li class="nav-item">
    <a class="nav-link" href="{{site.url}}">Intro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Om</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Tjänster</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Process</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Testimonals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Kontakt</a>
  </li>
</ul>
</div>
