{% block testimonials %}

    <div class="testimonials">

    <div class="row">

        {# hero text of testimonials #}
        <div class="testimonials-text col-6">
            <h3>Happy <br> customers</h3>

        </div>

    {# content of testimonials #}
        <div class="testimonials-content col-6" >

        
            <div class="review">
                <h3>hej</h3>
                <p> Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div class="review">
                <h3>hej</h3>
                <p> Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div class="review">
                <h3>hej</h3>
                <p> Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div class="review" >
                <h3>hej</h3>
                <p>Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div class="review">
                <h3>hej</h3>
                <p> Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        
        </div>
    </div>

{% endblock %}