*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
#wrapper{
    font-size: 20px;
  }
  
  .nav{
      width: 100vw;
      min-height: 50em;
      position: sticky;
  }
  

  .nav ul{
      width: 40vw;
      margin-top: 10vh;
      list-style-type: none;
      
      border-radius: 5px;
  }
  
  #top-menu{
    
    margin-left: 5vw;
  
  }
  .links{
     
  }
  
  .nav ul li a{
    font-size: 40px;
    text-decoration: none;
    color: #3333334D;
  }
  .nav ul li a:hover{
    color: #333333;
  }
  
  #wrapper{
      margin-top: 50px;
  }
  
  .container{
      width: 60vw;
     margin-right: -5vw;
     /*  background: rgba(200,200,200,0.2); */
      padding: 60px;
  }
  
  .active{
      color: #333333 !important;
    /*   background-color: rgba(100,100,100,1); */  
  }

