.services{
    background-color: #7BE4DF1A;
}

.service-section{
    width: 27vw;
    text-align: justify;
    text-justify: inter-word;
    padding: 0;
}

.service-headline{
    width: 50vw;
    padding: 0.1%;
    margin-left: 5%;
    
}